
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 90%;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}
#menu .item a:hover{
  background-color: black;
}

#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

.sinhvien{
    border: 1px solid black;
}
.ctsanpham{
    margin-top: 10px;
    border: 1px solid black;
    
}
h1{
    text-align: center;
}
.ctsanpham img{
    margin-left: 42%;
}
@media screen and (max-width:540px){
    body {
    width: 350%;
   }
}
